<div>
    Cannot delete airport 
    <span class="errorModelName">@Model.Name</span> 
    because of constraint error - its Id is used as foreign key in table Flights!
</div>


<button class="btn-danger goBackButton">
    <a href="/airportManagement">
        Go back
    </a>
</button>