@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-image"></div>
<div class="container-fluid home-site">
    <div class="text-center text-primary">
        <h1 class="display-4">Zarezerwuj swój wymarzony lot</h1>
        <h3 class="font-weight-light">
            Zarejestruj się i znajdź najtańsze loty na rynku!
        </h3>
        <div class="row justify-content-center mt-5">
            <button class="btn btn-primary btn-lg mr-2">Zarejestruj się</button>
            <button class="btn btn-primary btn-lg mr-2">Dowiedz się więcej</button>
        </div>
    </div>
</div>
