* {
    box-sizing: border-box;
}

.bg-image {
    position: absolute;
    background-image: url('../lib/img/clouds.jpg');
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}