* {
    box-sizing: border-box;
}

.bg-image {
    position: absolute;
    background-image: url('../lib/img/clouds.jpg');
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    position: relative;
    padding: 50px;
    background: rgba(255,255,255, .25);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: auto;

}

.wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box1 {
    margin: auto;
    color: black;
    font-weight: bold;
    font-size: 150%;
}
bigger {
    font-size: 150%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#plane-logo {
    max-height: 100%;
}


#logo-div {
    height: 40px;
    float: right;
}

#logo-div a img {
    max-height: 100%;
}

#logo-title {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

a {
    text-decoration: none !important;
}

